{{template "header" .}}
<div class="container-fluid">

{{range $item := .Data}}
    <div class="col-lg-3 col-md-6">
        <div class="panel {{if eq .Online true}} panel-success {{else}} panel-danger {{end}} " data-id="{{.ID}}">
            <div class="panel-heading">
                <h3 class="panel-title">{{.App.Name}}</h3>
            </div>
            <div class="panel-body">
                {{.App.Remark}}
            </div>
            <ul class="list-group">
                <li class="list-group-item cpu">Cpu: <i>{{.Cpu}}</i> </li>
                <li class="list-group-item mem">Mem: <i>{{.Mem}}</i> </li>
                <li class="list-group-item disk">Disk: <i>{{.Disk}}</i> </li>
            </ul>
        </div>
    </div>
{{end}}
</div>
    <script>
        $(function(){
            function demo(o,id) {
                console.log(id);
                $.get("/api/dashboard_data?id=" + id, function(res){
                    //online
                    if( res.data.online ){
                        o.removeClass("panel-danger").addClass("panel-success")
                    }else{
                        o.removeClass("panel-success").addClass("panel-danger")
                    }
                    //cpu
                    o.find(".cpu >i").html(res.data.cpu);
                    //mem
                    o.find(".mem >i").html(res.data.mem);
                    //disk
                    o.find(".disk >i").html(res.data.disk);


                });
            }

            function init() {
                $(".panel").each(function(i, p){
                    setInterval( demo, 500 , $(p), $(p).data("id"))
                });
            }
            init();
        });
    </script>
{{template "footer" }}